<!DOCTYPE html>
<html>
<head>
    <title>LogIn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

    <div class="top-right">
    <a href="/register" class="register-btn">New Here ? Let's Register</a>
</div>
<!-- <div class="forgot-link">
<a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
</div> -->

    

    <form id="nameForm" action="/login" method="POST">
    <h2>Enter Your Name to Login</h2>
        <input type="text" name="username" id="name" placeholder="Enter name" required><br>
        <input type="password" name="password"placeholder="Enter Password" required><br>
        <!-- <div class="forgot-password">
<a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
</div> -->
        <button type="submit">Submit</button>
        
</p>
        {% if error %}
    <p class="error-message">{{ error }}</p>
    {% endif %}
    </form>

    <!-- <script>
        const form = document.getElementById("nameForm");

        form.addEventListener("submit", function(event) {
    event.preventDefault();

    const formData = new FormData(form);

    fetch("/echo", {
        method: "POST",
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            alert("Error: " + data.error);
        } else {
            alert("Successfully done");
            window.location.href = "/homepage";
  
        }
    })
    .catch(error => {
        alert("Something went wrong");
    });
});

    </script> -->

</body>
</html>